<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление пользователями</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<a href="/admin/dashboard" class="top-left-button">← Назад</a>
<h1>Список пользователей</h1>

<table class="styled-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Email</th>
        <th>Роль</th>
        <th>Баланс</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role.name()}"></td>
        <td th:text="${#numbers.formatDecimal(user.balance, 1, 2)} + ' ₽'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>