<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель продавца</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<a href="/" class="top-left-button">← На главную</a>
<h1>Управление магазином</h1>

<div class="dashboard-grid">
    <a th:href="@{/seller/my-products}" class="dashboard-card">
        <h3>🗃️ Товары</h3>
        <p>Управление товарными предложениями</p>
    </a>

    <a th:href="@{/seller/categories}" class="dashboard-card">
        <h3>📂 Категории</h3>
        <p>Настройка товарных категорий</p>
    </a>

    <a th:href="@{/seller/orders}" class="dashboard-card">
        <h3>📦 Заказы</h3>
        <p>Просмотр и обработка заказов</p>
    </a>

    <a th:href="@{/seller/statistics}" class="dashboard-card"> <!-- Поправил путь -->
        <h3>📈 Аналитика</h3>
        <p>Статистика продаж и доходов</p>
    </a>
</div>
</body>
</html>